:root{
    --titleSectionPrimaryColor: white;
}

#title{
		text-align: center;
        padding: 200px 0 0 400px;
        background-image: url(../Images/Surface.jpg);
        color: var(--titleSectionPrimaryColor);
	}

    .title-section-button{
        color: var(--titleSectionPrimaryColor);
        border: solid var(--titleSectionPrimaryColor);
        padding: 15px 20px;
        background-color: transparent;
        border-radius: 5px;
    }

.title-section-button:hover{
		cursor:pointer;
	}


    


