#about-me{
    text-align: center;
}

.about-me-section-description{
    text-align: justify;
    margin-top: 40px;
}

.about-me-icon{
    font-size: 25px;
    margin-top: 45px;
    margin-bottom: 25px;
}

.icon{
    color: black;
}

.icon:hover{
    cursor: pointer;
    color: var(--titleSectionSecondaryColor);
}

.about-me-download-link > a{
    color: black;
}